@media screen and (max-width: 1480px) {
    .whoIAm .content, .skills .content {
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    section {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    
    .keyboard, .me, .secret {
        display: none;
    }
    
    .whoIAm .contentInner, .skills .contentInner {
        padding: 2rem;
    }

    .contentInner {
        padding-right: 0;
        width: 100%;
    }

    .portfolioMiddle {
        justify-content: center;
    }

    .portfolioItem, .portfolioItem:first-of-type, .portfolioItem:nth-of-type(3n+2) {
        width: 100%;
        margin-right: 0;
    }

    .servicesInner {
        flex-wrap: wrap;
        // width: 50%;
    }

    .service, .service:not(:last-of-type) {
        width: calc(50% - 2rem);
        margin: 0;
        margin-top: 2rem;
    }

    .service:nth-of-type(odd) {
        margin-right: 2rem;
    }

}

@media screen and (max-width: 767px) {
    
    .service, .service:not(:last-of-type), .service:nth-of-type(odd) {
        width: calc(100% - 2rem);
        margin: 0;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 480px) {
    .tabPanelWrapper {
        width: 100%;
    }
}