#tabs h2 {
    margin: 1rem 0 0;
}

.tabsList {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 1rem;
}

.tabsList li {
    position: relative; /*for z-index*/
    float: left;
    margin: 0 0.5rem 0 0;
    z-index: 1;
}

.tabsList li a {
    position: relative;
    top: 4px;
    overflow: hidden;
    color: #444;
    text-decoration: none;
    margin: 0.5rem 0;
    cursor: pointer;
    font-size: 1.2rem;
}

.tabsList li a:link { border-color: #ccc; }

.tabsList li a:hover,
.tabsList li a:focus,
.tabsList li a:active {
    color: $brandAccent;
}

.tabsList li a:active { top: 2px; }

.tabsList li.current a {
    top: 2px;
    font-weight: bold;
    border-bottom: 2px solid $brandAccent;
    color: #333;
}

// .tabsList li.current a:hover,
.tabsList li.current a:focus {
    color: #333;
}

.tabsList li.current a:focus { outline: 1px dotted #444; }

.tabPanelWrapper {
    position: relative;
    display: block;
    visibility: visible;
    clear: left;
    overflow: hidden;
    padding: 0 2rem;
    z-index: 5;
    color: #333;
    height: 20rem;
    width: 100%;
    margin: 0;
}

.tabPanelInnerWrapper {
    width: 2700px;
    left: 0px;
    overflow: hidden;
    position: absolute;
    transition: all 0.6s ease-in-out;
}

.tabPanel {
    position: relative;
    display: inline-block;
    visibility: visible;
    overflow: hidden;
    padding: 0rem;
    width: 500px;
    height: 20rem;
}

.tabContent {
    width: 100%;
}

.tabPanel:focus { outline: 1px dotted #999; }

.tabPanel p:focus { outline: 1px dotted #999; }

.tabContent {
    width: 300px;
}