.aboutMe {
    flex-wrap: wrap;
    background: $brandSecondaryDark;
    padding: 0;
}

.whoIAm, .skills {
    width: $full;
}

.skills {
    display: flex;
    justify-content: flex-end;
}

.whoIAm .content, .skills .content {
    @include flexCenter();
    width: 50%;
    height: 100%;
    background: $brandPrimary;
}

.whoIAm .contentInner, .skills .contentInner {
    padding: 8rem;
}